<%- include('partials/header') %>

<%- include('partials/nav') %>
<%- include('partials/banner') %>
  
      <div class="container mt-4">
        <h1>Add New Variant</h1>
        <form action="/add-variant" method="POST">
           <div class="mb-3">
            <label for="variantName" class="form-label">Variant Name</label>
            <input type="text" class="form-control" id="variantName" name="variant_name" required>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country First Detected</label>
            <input type="text" class="form-control" id="country" name="country_first_detected" required>
          </div>
          <div class="mb-3">
            <label for="dateDetected" class="form-label">Date First Detected</label>
            <input type="date" class="form-control" id="dateDetected" name="date_first_detected" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="classification" class="form-label">Classification</label>
            <select class="form-select" id="classification" name="classification_id">
              <% classifications.forEach(classification => { %>
                <option value="<%= classification.classification_id %>"><%= classification.classification %></option>
              <% }) %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Add Variant</button>
        </form>
      </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

                <%- include('partials/footer') %>
 